---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../../layouts/Default.astro';
import RealList from '../../../components/blog/RealList.astro';
import Button from '../../../components/generic/Button.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('real').then((collection) =>
    collection.reverse()
  );

  const tags: string[] = [];

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    return {
      params: { tag },
      props: {
        tag,
        realposts: allPosts.filter((post) =>
          post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  realposts: CollectionEntry<'real'>[];
}

const { tag, realposts } = Astro.props;
---

<Layout
  title={`Real: ${tag}`}
  description={`Brutal Real | All posts tagged with ${tag}`}
  pageTitle={`Brutal Real | Realposts tagged with ${tag}`}
>
  <main class='p-6 bg-purple grid gap-4'>
    <div>
      <Button href='/real/'>&larr; Back to real</Button>
    </div>
    <RealList posts={realposts} />
  </main>
</Layout>
