---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../../layouts/Default.astro';
import SkillList from '../../../components/blog/SkillList.astro';
import Button from '../../../components/generic/Button.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('skill').then((collection) =>
    collection.reverse()
  );

  const tags: string[] = [];

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    return {
      params: { tag },
      props: {
        tag,
        skillposts: allPosts.filter((post) =>
          post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  skillposts: CollectionEntry<'skill'>[];
}

const { tag, skillposts } = Astro.props;
---

<Layout
  title={`Skill: ${tag}`}
  description={`Brutal Skill | All posts tagged with ${tag}`}
  pageTitle={`Brutal Skill | Skillposts tagged with ${tag}`}
>
  <main class='p-6 bg-purple grid gap-4'>
    <div>
      <Button href='/skill/'>&larr; Back to skill</Button>
    </div>
    <SkillList posts={skillposts} />
  </main>
</Layout>
