---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Default.astro';
import BlogList from '../../components/blog/BlogList.astro';
import Card from "../../components/generic/Card.astro";


---
<Layout
  title='Please do not go here'
  description='Nothing here'
  pageTitle='Go back please'
>
  <style>
      @font-face { font-family: Apple; src: url('./PrintChar21.ttf')}
  </style>
  <script is:inline>

    var canvas;
    let theDiv;
    let canType = true;
    let currentCommand = "";
    var audio = new Audio('https://cdn.discordapp.com/attachments/720610453608333324/1096261357881544704/macintosh_plus.mp3');

    window.onload = window.onresize = function() {
      canvas = document.getElementById('daCanvas');
      theDiv = document.getElementById('daDiv')
      canvas.width = theDiv.clientWidth;
      canvas.height = (window.innerHeight)/2;
      main();

    }

    function play() {
      audio.loop = true;
      audio.volume = 0.4;
      audio.play();
    }

    function stopAudio(){
      audio.loop = false;
      audio.pause();
      audio.currentTime = 0;
    }

    let ctx;

    function main(){
      canvas = document.getElementById('daCanvas');
      ctx = canvas.getContext("2d");
      ctx.font = "30px Apple";
      clearCanvas();
      ctx.fillStyle = "green";
      ctx.fillText("Type \"START\" then enter to start.".toUpperCase(), 10, 30);
      window.requestAnimationFrame(draw);
      setInterval(drawCarrat, 500);
    }

    function clearCanvas(newColor = "black"){
      ctx.clearRect(0, 0, window.innerWidth,window.innerHeight);
      ctx.fillStyle = newColor;
      ctx.fillRect(0,0,window.innerWidth,window.innerHeight);
    }

    function draw(){

      //window.requestAnimationFrame(draw);
    }

    var carrat = true;
    function drawCarrat(){
      wText(10, canvas.height-10, currentCommand);
      if(carrat){
        wText(10, canvas.height-10, (" ".repeat(currentCommand.length) + "|"), "start", false);
      }
      carrat = !carrat;
    }

    function clearArea(x, y, w, h){
      ctx.fillStyle = "black";
      ctx.fillRect(x,y,w,h);
    }
    function wText(x, y, text, txtAlign = "left", clear=true){
      if(clear){
        clearArea(x,y-30,window.innerWidth,36)
      }
      ctx.fillStyle = "green";
      ctx.textAlign = txtAlign;
      ctx.fillText(text, x, y);
    }
//Floor start
    const squareStartX = 10;
    const squareStartY = 70;
    var squarePosX = squareStartX;
    var squarePosY = squareStartY;
    var isPink = true;
    var divider = 50;
    var shifter = 0;
    var suInt;
    function gridFloorFun(){
        //drawSquares();
        suInt = setInterval(scrollUp, 100);
        //requestAnimationFrame(drawSquares);
        //requestAnimationFrame(scrollUp);
      //drawSquares();
    }

    function scrollUp(){
      shifter += 5;
      if(shifter >= 50){
        shifter = 0;
        switchColor();
      }
      drawSquares(shifter);
    }

    function switchColor(){
      if(isPink){
        ctx.fillStyle = "pink";
      }else {
        ctx.fillStyle = "black";
      }
      isPink = !isPink;
    }

    function drawSquareLine(i){
      let w = 50;
      let h = 50;


      for(let j =0; j < (canvas.width-20)/divider;j++){
        if((squarePosY+(50*i)) >= canvas.height-60){
          h = (canvas.height-60) - (squarePosY+(50*i)+50);
          console.log("resized");
        }
        if(((squarePosX+(50*j)+50) <=canvas.width-20)){
          ctx.fillRect(squarePosX+(50*j),squarePosY+(50*i),w,h);
          switchColor();
        }
      }
    }

    function drawSquares(shifter = 0){
      clearArea(squareStartX, squareStartY, canvas.width, canvas.height-120);
      ctx.save();
      ctx.translate(0,-shifter);
      //switchColor();
      for(let i =0; i < 8;i++){
        drawSquareLine(i);
      }
      ctx.restore();
      wText(10, 30, "Now playing MACINTOSH PLUS - リサフランク420 / 現代のコンピュー |");
      wText(10, 65, "Type 'HELP' to get list of activities.");
      //requestAnimationFrame(drawSquares);
    }

    //Floor end
    function processCmd(cmd){
      clearCanvas();
      clearInterval(suInt);
      stopAudio();
      switch (cmd){
        case "START":
          play();
          wText(10, 30, "Now playing MACINTOSH PLUS - リサフランク420 / 現代のコンピュー |");
          wText(10, 65, "Type 'HELP' to get list of activities.");
          gridFloorFun();
          break;
        case "HELP":
          wText(10, 30, "Not implemented yet...");
          break;
        default:
          wText(10, 30, ("Unknown command \"" + cmd + "\""));
          break;
      }
      currentCommand = "";
    }

    function processInput(keyCode){
      if(keyCode == 13){
        processCmd(currentCommand);
        return;
      }
      if(keyCode == 8){
        currentCommand = currentCommand.slice(0, -1);
      }else {
        currentCommand += String.fromCharCode(keyCode).toUpperCase();
      }
      wText(10, canvas.height-10, currentCommand);
    }

    document.onkeydown = function (e) {
      if(canType){
        e = e || window.event;
        //console.log(e.keyCode);
        if(e.keyCode >= 48 && e.keyCode <= 57 || e.keyCode >= 65 && e.keyCode <= 90 || e.keyCode >= 97 && e.keyCode <= 122 || e.keyCode == 13 || e.keyCode == 32 || e.keyCode == 8){
          processInput(e.keyCode);
          carrat = true;
          drawCarrat();
        }
      }
    };


  </script>
  <main class='bg-gray p-6 flex-1 overflow-y-auto'>
    <Card color='red'
          extraClasses='flex flex-col justify-between gap-4 items-start md:col-span-5'>
      <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
        Félicitations, vous avez modifié l'URL et trouvé cette page pas si secrète! Vous pouvez vous amuser ou reprendre la lecture de mon portfolio.
      </p>
      </Card><br>
    <div id="daDiv" class="flex flex-col justify-between gap-4 items-start md:col-span-5">
      <canvas id="daCanvas" style="border:1px solid #000000;"></canvas>
    </div>
  </main>
</Layout>
