---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Default.astro';
import RealList from '../../components/blog/RealList.astro';

const posts = await getCollection('real').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Réalisation'
  description='Brutal Real | On this page you can find a collection of blogposts'
  pageTitle='Brutal Realisation'
>
  <main class='bg-blue p-6'>
    <RealList posts={posts} />
  </main>
</Layout>
