---
import Layout from '../../../layouts/Default.astro';
import Card from '../../../components/generic/Card.astro';
import CardB from "../../../components/generic/CardB.astro";


---

<Layout
        title='Contact'
        pageTitle=''
        description='Nicolas COULON | Portefolio'
>
    <main class='bg-white p-6 flex-1 overflow-y-auto' style="text-align: justify;
  text-justify: inter-word;

  ">
        <section id='about' class='grid md:grid-cols-3 gap-8 mt-4 justify-center'>
            <ol/>
            <ol class="border-l border-neutral-300 dark:border-neutral-500">
                <!--First item-->
                <li>
                    <div class="flex-center flex items-center pt-3">
                        <div
                                class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500"></div>
                        <p class="text-sm text-neutral-500 dark:text-neutral-300 justify-center">
                            03/2021 - 08/2023
                        </p>
                    </div>
                    <div class="mb-6 ml-4 mt-2">
                        <h4 class="mb-1.5 text-xl font-semibold"><img src="https://media.discordapp.net/attachments/720610453608333324/1096231374366715924/3928cb41e6383817ca338b85c3daf97d-534180986.png" width="50" height="50"/>Développeur chez Capgemini | Nantes</h4>
                        <p class="mb-3 text-neutral-500 dark:text-neutral-300 justify-center">
                            Alternant ingénieur logiciel sur un projet en méthode Agile.
                            Dans ma vision de l'entreprise, je crois fermement en la synergie entre les différents membres de l'équipe.<br> Je considère que chaque individu a un rôle précieux à jouer et que nous pouvons apprendre les uns des autres.<br>
                            > <a href="https://nagispace.gitlab.io/real/migration-frontend/">Migration d’un Frontend AngularJS vers Angular 12</a><br>
                            > <a href="https://nagispace.gitlab.io/real/migration-java/">La migration d’un Backend devant gérer des millions d’utilisateurs</a><br>

                        </p>
                    </div>
                </li>

                <!--Second item-->
                <li>
                    <div class="flex-start flex items-center pt-2">
                        <div
                                class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500"></div>
                        <p class="text-sm text-neutral-500 dark:text-neutral-300">
                            2022
                        </p>
                    </div>
                    <div class="mb-6 ml-4 mt-2">
                        <h4 class="mb-1.5 text-xl font-semibold"><img src="https://media.discordapp.net/attachments/720610542435303474/1114983422654414952/6ea6771479ceeade5f025fb16ff71264.png" width="50" height="50">EF Set English Certificate</h4>
                        <p class="mb-3 text-neutral-500 dark:text-neutral-300">
                            - Niveau C2 en lecture et écoute | 78/100 <br>
                            > <a href="https://www.efset.org/cert/ygrVHr">https://www.efset.org/cert/ygrVHr</a><br>
                        </p>
                    </div>
                </li>

                <!--Third item-->
                <li>
                    <div class="flex-start flex items-center pt-2">
                        <div
                                class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500"></div>
                        <p class="text-sm text-neutral-500 dark:text-neutral-300">
                            2018 - 2023
                        </p>
                    </div>
                    <div class="ml-4 mt-2 pb-5">
                        <h4 class="mb-1.5 text-xl font-semibold"><img src="https://media.discordapp.net/attachments/720610542435303474/1114972694069387274/1631806535050.jpg" width="50" height="50"/>Formation d'expert en ingénierie logiciel - <a href="https://www.intechinfo.fr/">INTECH</a> | Dax</h4>
                        <p class="mb-3 text-neutral-500 dark:text-neutral-300 justify-center">
                            La formation INTECH offre des programmes dans les domaines de l'ingénierie du logiciel et de l'ingénierie des systèmes d'information. Les étudiants sont formés à travers une approche d'apprentissage par projets où des entreprises proposent des projets informatiques et de formation humaine pour chaque semestre. Les étudiants sont responsables de répondre à ces projets avec l'assistance pédagogique fournie par l'école. Les projets proposés par les entreprises sont des besoins réels auxquels les étudiants doivent répondre.
                        </p>
                    </div>
                </li>
            </ol>
        </section>
    </main>
</Layout>
