---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Default.astro';
import SkillList from '../../components/blog/SkillList.astro';

const posts = await getCollection('skill').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Compétences'
  description='Brutal Skill | On this page you can find a collection of blogposts'
  pageTitle='Brutal Skill'
>
  <main class='bg-yellow p-6'>
    <SkillList posts={posts} />
  </main>
</Layout>
