---
import Layout from '../../layouts/Default.astro';
import RecentBlogPosts from '../../components/generic/RecentBlogPosts.astro';
import RecentRealPosts from '../../components/generic/RecentRealPosts.astro';
import RecentSkillPosts from '../../components/generic/RecentSkillPost.astro';
import MobileSocials from '../../components/home/MobileSocials.astro';
import Card from '../../components/generic/Card.astro';
import Button from '../../components/generic/Button.astro';
import TagItem from '../../components/blog/TagItem.astro';
import { Image } from "@astrojs/image/components";
import CardB from "../../components/generic/CardB.astro";


---

<Layout
  title='Contact'
  pageTitle=''
  description='Nicolas COULON | Portefolio'
>
  <main class='bg-white p-6 flex-1 overflow-y-auto'>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <Card
        color='teal'
        extraClasses='flex flex-col justify-between gap-4 items-start md:col-span-6'
      >
        <p class='mt-4 outfit text-1xl md:text-3xl lg:text-5xl'>
          Nicolas COULON, <a
          class='text-white'
          target='_blank'
        >me contacter</a
        >
        </p>
        <section class='grid md:grid-cols-1 gap-4 mt-2'>
          <ul style="list-style: none;" class="grid md:grid-cols-1 lg:grid-cols-1 gap-4">
            <li>
              <CardB href="mailto:contact@nagispace.mozmail.com"
                color=blue
                extraClasses='flex flex-col justify-between gap-2 items-start md:col-span-2'
              >
                <p class='mt-3 outfit text-2xl md:text-3xl lg:text-5xl text-white'>
                  contact@nagispace.mozmail.com
                </p>
              </CardB>
            </li><br>
            <li>
              <CardB href="https://www.linkedin.com/in/nicolas-coulon-nagispace/"
                color=blue
                extraClasses='flex flex-col justify-between gap-4 items-start md:col-span-4'
              >
                <p class='mt-3 outfit text-2xl md:text-3xl lg:text-5xl text-white'>
                  Linkedin
                </p>
              </CardB>
            </li>
          </ul>
        </section>
      </Card>
      <Card
        color='cyan'
        extraClasses='flex flex-col justify-between gap-4 items-start md:col-span-2'
      >
        <Image
          src=https://media.discordapp.net/attachments/720610453608333324/1092124481113313320/photo.jpg
          width={420}
          height={420}
          class='rounded h-full w-full object-cover'
        />
      </Card>
    </section>
  </main>
</Layout>
