---
const navigationItems = [
  { name: 'Accueil', url: '/' },
  { name: 'Réalisations', url: '/real/' },
  { name: 'Compétences', url: '/skill/' },
  { name: 'Parcours', url: '/blog/hashtag-parkour' },
  { name: 'Contact', url: '/contact' }
];

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
const socials = [
  { name: 'Accueil', url: '/', icon:  'i-uil-home'},
  { name: 'Réalisations', url: '/real/', icon:  'i-uil-hard-hat' },
  { name: 'Compétences', url: '/skill/', icon:  'i-uil-brain' },
  { name: 'Parcours', url: '/blog/hashtag-parkour', icon:  'i-uil-graduation-cap' },
  { name: 'Contact', url: '/contact', icon:  'i-uil-fast-mail' }
];
---

<header class='border-b-4 border-black flex justify-between p-6 items-center bg-red'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='outfit md:text-5xl'>Nicolas COULON</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <section class='md:hidden'>
    <ul class='flex justify-between'>
      {
        socials.map((item) => (
          <li class='bg-white px-4 py-2 text-black border-black border-2 rounded card-shadow'>
            <a href={item.url} target='_blank' title={`${item.name}`}>
              <div class:list={[item.icon, 'p-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</header>
