---
import Layout from '../layouts/Default.astro';
import RecentBlogPosts from '../components/generic/RecentBlogPosts.astro';
import RecentRealPosts from '../components/generic/RecentRealPosts.astro';
import RecentSkillPosts from '../components/generic/RecentSkillPost.astro';
import MobileSocials from '../components/home/MobileSocials.astro';
import Card from '../components/generic/Card.astro';
import Button from '../components/generic/Button.astro';
import TagItem from '../components/blog/TagItem.astro';
import { Image } from "@astrojs/image/components";
import CardB from "../components/generic/CardB.astro";
import Flag from "../components/generic/Flag.astro";


---

<Layout
  title='Home'
  pageTitle=''
  description='Nicolas COULON | Portefolio'
>
  <main class='bg-white p-6 flex-1 overflow-y-auto'>


    <section id='about' class='grid md:grid-cols-7 gap-8 mt-4'>
    <Card color=white
          extraClasses='flex flex-col justify-between gap-4 items-start md:col-span-7'
    >
      <section id='in_about' class='grid md:grid-cols-10 gap-2 mt-4'>
      <p class='mt-1 outfit text-xl md:text-2xl lg:text-3xl md:col-span-8'>
        Ingénieur logiciel passionné, conscient et créatif, je crée pour impacter positivement. Avec curiosité et ouverture d'esprit, j'explore l'art, les jeux vidéo et la gastronomie. Rejoignez-moi pour repousser les limites de la technologie et créer ensemble un avenir meilleur.
      </p>
      <Image
          src=https://media.discordapp.net/attachments/720610453608333324/1092124481113313320/photo.jpg
          width={210}
          height={210}
          class='rounded object-cover md:col-span-2'
          style="border-radius: 25%;"
      />
      </section>
      <div class='hidden md:block md:col-span-1'>
        <Button href='/blog/me/'>En savoir plus &rarr;</Button>
      </div>
      </Card>
    </section>
    <RecentRealPosts />
    <RecentSkillPosts />
  </main>
</Layout>
