a:where(.astro-M3F4UTYN).btn{filter:drop-shadow(5px 5px 0 rgb(0 0 0 / 1))}a:where(.astro-M3F4UTYN).btn:hover{filter:drop-shadow(3px 3px 0 rgb(0 0 0 / 1))}span:where(.astro-Q5GNBKFP).tag{filter:drop-shadow(3px 3px 0 rgb(0 0 0 / 1))}span:where(.astro-Q5GNBKFP).tag:hover{filter:drop-shadow(5px 5px 0 rgb(0 0 0 / 1))}div:where(.astro-FP3T7JGG).card{filter:drop-shadow(10px 10px 0 rgb(0 0 0 / 1));transition:all;transition-duration:.5s;animation:ease-in-out}div:where(.astro-FP3T7JGG).card:hover{filter:drop-shadow(5px 5px 0 rgb(0 0 0 / 1))}
