---
import Card from "../generic/Card.astro";
interface Props {
  content: any;
}

const { content } = Astro.props;
const colors = ['red', 'green', 'blue', 'yellow', 'purple', 'pink'];
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/' title="Retour à l'accueil">&larr; Retour à l'accueil</a>
  <p class='text-slate text-sm md:text-base'>
    Publié le {content.pubDate} par {content.author}
  </p>
  <div style="text-align: justify;
  text-justify: inter-word;

  ">
  <slot/>
  </div>
  <p class='text-slate'>Écrit par {content.author}</p>
  <br><br>
  <a href='/' title="Retour à l'accueil">&larr; Retour à l'accueil</a>
</article>
