---
import type { CollectionEntry } from 'astro:content';
import Button from '../generic/Button.astro';
import TagItem from './TagItem.astro';
import SummaryCard from '../generic/SummaryCard.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<SummaryCard
  title={post.data.title}
  imgAlt={post.data.title}
  imgSrc={post.data.imgUrl}
  description={post.data.description}
  level={post.data.level}
>
  <div class='flex justify-end my-4'>
    <Button href={`/${post.data.type}/${post.slug}/`}>Lire &rarr;</Button>
  </div>

  <div class='hidden sm:inline-block'>
    <div class='flex justify-between items-center'>
      {
        post.data.draft && (
          <span class='bg-green rounded-full border-2 py-1 px-4 text-sm border-black card-shadow'>
            Draft
          </span>
        )
      }
    </div>
  </div>
</SummaryCard>
