---
import type { CollectionEntry } from 'astro:content';
import SkillSummaryCard from './SkillSummaryCard.astro';
import TagItem from "./TagItem.astro";

interface Props {
  posts: CollectionEntry<'skill'>[];
  home?: boolean;
}

const { posts ,home} = Astro.props;
---
<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
    {
        posts.map((post) => {
                return (
                        <li>
                            <SkillSummaryCard post={post} />
                        </li>
                );
        })
    }
</ul>
