---
import type { CollectionEntry } from 'astro:content';
import SkillSummaryCard from './SkillSummaryCard.astro';
import TagItem from "./TagItem.astro";

interface Props {
  posts: CollectionEntry<'skill'>[];
  home?: boolean;
}

const { posts ,home} = Astro.props;
---
<h2 class='mt-4 outfit text-1xl md:text-3xl lg:text-5xl'>Compétences techniques</h2><br>
<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
    {
        posts.sort(function (a,b){
            return b.data.level.length - a.data.level.length;
        }).map((post) => {
            if(post.data.tags.includes("Technique")){
                return (
                        <li>
                            <SkillSummaryCard post={post} />
                        </li>
                );
            }
        })
    }
</ul>
<br>
<h2 class='mt-4 outfit text-1xl md:text-3xl lg:text-5xl'>Compétences transverses</h2><br>
<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    posts.sort(function (a,b){
        return b.data.level.length - a.data.level.length;
    }).map((post) => {
        if(post.data.tags.includes("Transverse")){
            return (
                    <li>
                        <SkillSummaryCard post={post} />
                    </li>
            );
        }
    })
  }
</ul>
