---
import Layout from './Default.astro';
import BlogContent from '../components/blog/BlogContent.astro';
import RecentBlogPosts from '../components/generic/RecentBlogPosts.astro';
const { content } = Astro.props;
const { title, description } = content;
---

<Layout title={title} description={description}>
  <main class='p-6 flex justify-center overflow-y-auto'>
    <BlogContent content={content}>
      <slot />
    </BlogContent>
  </main>
</Layout>
