---
interface Props {
  href: string;
  blank?: boolean;
  color: string;
  extraClasses?: string;
}

const { color, extraClasses , href, blank} = Astro.props;
---

<a
  href={href}
  target={blank ? '_blank' : '_self'}
  >
<div
  class:list={[
    `bg-${color}`,
    'card-shadow border-black border-3 rounded p-4',
    extraClasses,
  ]}
>
  <slot />
</div>
</a>
