---


---

<div class="svg-cont" style="
display: inline-block;
position: absolute;
width: 100%;
vertical-align: middle;
overflow: hidden;
height:100%;
animation: flag_out 5s;
animation-fill-mode: forwards;
animation-delay: 3s;
z-index : 100;
">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1923.82 1081" style="
display: inline-block;
position: absolute;
top: 0;
left: 0;
">
<defs>
<style>


@keyframes triangle_in {
    0% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes sides_in {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

.cls-1{
    fill:#36f;
}
.cls-3{
    stroke:#000;
    stroke-miterlimit:10;
}
.sides{
    fill:#ff0;
    transform: scale(100%);
    transform-origin: center;
    animation-name: sides_in;
    animation-duration: 1.5s;
    animation-delay: 1.3S;
    animation-fill-mode: backwards;
}
.mid{
    fill:#ff0;
    transform: scale(100%);
    transform-origin: center;
    animation-name: sides_in;
    animation-duration: 1.3s;
    animation-delay: 1.7S;
    animation-fill-mode: backwards;
}
.top{
    fill:#ff0;
    transform: scale(100%);
    transform-origin: center;
    animation-name: sides_in;
    animation-duration: 1s;
    animation-delay: 2S;
    animation-fill-mode: backwards;
}
.cls-3{
    fill:red;
    animation: triangle_in 1.5s;
}
</style>
</defs>
<title>la_reunion_le_la</title>
<g id="Calque_2" data-name="Calque 2">
<g id="Calque_2-2" data-name="Calque 2">
<rect class="cls-1" x="1.91" y="0.5" width="1920" height="1080"/>
<polygon class="mid" points="1.91 0.5 78.91 0.5 961.91 540.5 1.91 71.5 1.91 0.5"/>
<polygon class="top" points="910.91 0.5 1012.91 0.5 961.91 540.5 910.91 0.5"/>
<polygon class="mid" points="1836.91 0.5 1921.91 0.5 1921.91 73.5 961.91 540.5 1836.91 0.5"/>
<polygon class="sides" points="1921.91 585.5 961.91 540.5 1921.91 499.5 1921.91 585.5"/>
<polygon class="sides" points="1.91 499.5 961.91 540.5 1.91 585.5 1.91 499.5"/>
<polygon class="cls-3" points="1.91 1080.5 961.91 540.5 1921.91 1080.5 1.91 1080.5"/>
    </g>
    </g>
    </svg>
    </div>
