---
import { getCollection } from 'astro:content';
import Button from './Button.astro';
import RealList from '../blog/RealList.astro';
import Card from './Card.astro';

interface Props {
  count?: number;
}

const { count } = Astro.props;

const posts = await getCollection('real').then((posts) =>
  posts.reverse().slice(0, count ?? 3)
);
---

<section class='mt-8'>
  <Card color='blue'>
    <div class='flex justify-between items-start'>
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 outfit'>
        Réalisations
      </h2>
      <div class='hidden md:block'>
        <Button color="green" href='/real/'>Voir les réalisations &rarr;</Button>
      </div>
      <div class='block md:hidden'>
        <Button href='/real/'>to real</Button>
      </div>
    </div>
    <RealList posts={posts} />
  </Card>
</section>
