---
import { getCollection } from 'astro:content';
import Button from './Button.astro';
import RealList from '../blog/SkillListHome.astro';
import Card from './Card.astro';

interface Props {
  count?: number;
}

const { count } = Astro.props;

const posts = await getCollection('skill').then((posts) =>
  posts.reverse().slice(0, count ?? 3)
);
---

<section class='mt-8'>
  <Card color='yellow'>
    <div class='flex justify-between items-start'>
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 outfit'>
        Compétences
      </h2>
      <div class='hidden md:block'>
        <Button color="green" href='/skill/'>Voir les compétences &rarr;</Button>
      </div>
      <div class='block md:hidden'>
        <Button href='/skill/'>to skills</Button>
      </div>
    </div>
    <RealList posts={posts} home="true"/>
  </Card>
</section>
